
:root{
  --text: #eaecf5;
  --background: #070913;
  --primary: #3c4eb4;
  --secondary: #1b2865;
  --accent: #2238a5;
}

:root {
  --bs-primary: var(--primary);
  --bs-secondary: var(--secondary);
  --bs-body-bg: var(--background);
  --bs-body-color: var(--text);
  --bs-link-color: var(--accent);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #0a0c15;
    --background: #eceef8;
    --primary: #4b5dc3;
    --secondary: #9aa8e4;
    --accent: #5a70dd;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #eaecf5;
    --background: #070913;
    --primary: #3c4eb4;
    --secondary: #1b2865;
    --accent: #2238a5;
  }
}


body {
  margin: 0;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

                          /* Page line css */
.PageLine{
  position: 'fixed';
  bottom : 0,
}


                      /* Introduction.css */
.page {
  min-height: 90vh;
  justify-content: flex-start; /* Keep title at the top */
  text-align: center;
}

.page h2{
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
}

.textBox {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: flex-start; /* Keep title at the top */
  align-items: center; /* Center content horizontally */
  /* justify-content: center; 
  align-items: center; */
  padding: 20px 0;
  text-align: center;
  height: 100%;
}

.textBox h5 {
  margin-bottom: 20px; /* Space between the title and the buttons */
}

.textBox .tech-container{
  margin: 5px 0; /* Space between the buttons */
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Space between the buttons */
  width: 100%;
}

                    /* Project CSS */
.project-card{
  width: auto;
  margin: auto;
  margin-top: 20px;
  border: 1px solid white;
  transition: all 0.3s ease;
  padding : 20px
}

.project-card:hover {
  border-color: #007bff; /* Change border color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  transform: translateY(-5px); /* Slight move up effect */
}

.card-image{
  height: 150px;
  width: 290;
}

.card-description {
  min-height: 4.5rem; /* Limit the description height */
  max-height: 4.5rem;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.position-relative {
  position: relative;
}

.all-projects-btn {
  position: absolute;
  bottom: 0; /* Align to the bottom of the container */
  left: 50%;
  transform: translateX(-50%);

}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: var(--bs-secondary);
  padding: 32px;
  border-radius: 8px;
  position: relative;
}

.popup-content button {
  position: absolute;
  top: 8px;
  right: 8px;
}

                      /* Experience.css */
.experience-card{
  margin-top: 20px;
  border: 1px solid white;
  transition: all 0.3s ease;
  padding : 20px;
  min-height : 200px;
}

.experience-card:hover {
  border-color: #007bff; /* Change border color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  transform: translateY(-5px); /* Slight move up effect */
  /* height: auto; We will need to fix this soon */
}


                      /* Contacts.css */
.contactInfo {
  margin-bottom: 30px;
  text-align: left;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
}

.formGroup{
  margin-bottom: 15px,
}

.label{
  display: block;
  margin-bottom: 5px;
  text-align: left,
}

.input{
  width: 100%;
  padding: 10px,
}

.textarea{
  width: 100%;
  padding: 10px;
  min-height: 100px;
}