
:root{
  --text: #eaecf5;
  --background: #070913;
  --primary: #3c4eb4;
  --secondary: #1b2865;
  --accent: #2238a5;
}

:root {
  --bs-primary: var(--primary);
  --bs-secondary: var(--secondary);
  --bs-body-bg: var(--background);
  --bs-body-color: var(--text);
  --bs-link-color: var(--accent);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #0a0c15;
    --background: #eceef8;
    --primary: #4b5dc3;
    --secondary: #9aa8e4;
    --accent: #5a70dd;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #eaecf5;
    --background: #070913;
    --primary: #3c4eb4;
    --secondary: #1b2865;
    --accent: #2238a5;
  }
}

/* Scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
  background-color: none; /* Background color of the scrollbar track */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #f1f1f1; /* Space around the thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

/* Scrollbar corner (when both horizontal and vertical scrollbars are present) */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Background color of the corner */
}



/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* page Sections */
.page {
  position: relative;
  min-height: 100vh;
  text-align: center;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--background);
}

.page h2{
  margin-bottom: 20px;
}

.navbar{
  animation: fadeIn 2s ease-in-out;
}

/* Page line css */
.PageLine{
  position: 'fixed';
  bottom : 0,
}



/* Home Section */
.home-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  overflow: hidden;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Make the background image fixed for a parallax effect */
  transition: transform 0.5s ease; /* Smooth transform when scrolling */
  will-change: transform;
  animation: fadeIn 2s ease-in-out;
}

.textBox.Home {
  color: white;
  text-align: center;
  z-index: 2;
}

.textBox h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.textBox p {
  font-size: 1.25rem;
}



/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 /* About.css */
.textBox {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: flex-start; /* Keep title at the top */
  align-items: center; /* Center content horizontally */
  padding: 20px 0;
  text-align: center;
  height: 100%;
}

.textBox h5 {
  margin-bottom: 20px; /* Space between the title and the buttons */
}

.textBox .tech-container{
  margin: 5px 0; /* Space between the buttons */
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Space between the buttons */
  width: 100%;
}

.highlight {
  font-weight: bold;
  color: #3554f1;
}

.carousel-image {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  object-fit: contain; /* Ensures the entire image fits within the container */
  object-position: center; /* Centers the image if there is any empty space */
}

/* Project CSS */
.project-card{
  width: auto;
  margin: auto;
  margin-top: 20px;
  border: 1px solid white;
  transition: all 0.3s ease;
  padding : 20px
}

.project-card:hover {
  border-color: #007bff; /* Change border color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  transform: translateY(-5px); /* Slight move up effect */
}

.card-image{
  height: 150px;
  width: 290;
}

.card-description {
  min-height: 4.5rem; /* Limit the description height */
  max-height: 4.5rem;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.position-relative {
  position: relative;
}


.carousel-center {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-height: 400px; /* Adjust this to fit within the popup */
  margin-top: 20px;
  overflow: hidden;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure popup is above other content */
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the carousel horizontally */
  justify-content: center; /* Center the content vertically */
  background: var(--bs-secondary);
  padding: 35px;
  border-radius: 8px;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto; /* Allows scrolling if content overflows vertically */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow for better visibility */
}

.popup-content .btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1000; /* Ensure button is above content */
}

/* Title positioning */
.popup-content h2 {
  position: absolute; /* Keeps title visible */
  top: 0;
  background: var(--bs-secondary); /* Background matches the popup's background */
  padding: 10px 0;
  width: 100%;
  z-index: 10; /* Ensures it stays above other content */
}

/* Experience.css */
.experience-card{
  margin-top: 20px;
  border: 1px solid white;
  transition: all 0.3s ease;
  padding : 20px;
  min-height : 200px;
}

.experience-card:hover {
  border-color: #007bff; /* Change border color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  transform: translateY(-5px); /* Slight move up effect */
  /* height: auto; We will need to fix this soon */
}

.experience-card-text {
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
}

.experienece-card-text.show {
  max-height: 1000px; /* adjust this value based on your content */
}

/* Contacts.css */

.contact-header {
  margin-bottom: 2rem;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem; /* Adjust space between the sections */
  width: 100%; /* Ensures that the content spans across the page width */
  max-width: 1200px; /* Optional: limits the maximum width */
}

.contact-sector {
  flex: 1;
  min-width: 300px; /* Ensures a minimum width for smaller screens */
}

.contact-sector h3 {
  text-align: center; /* Centers the headers within each section */
}

.formGroup {
  margin-bottom: 1rem;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  height: 150px;
  resize: none;
}

.btn {
  margin-top: 1rem;
}

.contactInfo {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Space between the buttons */

}

.contactInfo img {
  width: 50px; /* Set a fixed size for the social media icons */
  height: 50px;
  margin: 0.5rem;
}

.linkedin-link, .github-link {
  margin: 0.5rem;
}

.linkedin-link img, .github-link img {
  transition: transform 0.3s ease;
}

.linkedin-link img:hover, .github-link img:hover {
  transform: scale(1.1); /* Slightly increase the size on hover */
}

@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }

  .contact-sector {
    max-width: 100%;
  }

  .contactInfo {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.linkedin-link, .github-link {
    margin: 0.5rem;
}
}

